<div appCustom>Pipes Component</div>
<div>
    <h3>UpperCase Pipe</h3>
    UserName is :{{username|uppercase|custom:gender}}
</div>
<div>
    <h3>lowercase Pipe</h3>
    Address is :{{address|lowercase}}
</div>
<div>
    <h3>TitleCase Pipe</h3>
    Facility is :{{facility|titlecase}}
</div>
<div>
    <h3>slice case Pipe</h3>
    Hobbies is :{{hobbies|slice:1:5}}
</div>
<div>
    <h3>Date Pipe</h3>
    Date of Joining is :{{doj|date:'short'}}
</div>
<div>
    <h3>curremcy Pipe</h3>
    salary is :{{salary|currency:'INR'}}
</div>